.custom_animate{
   background: linear-gradient(270deg, #94d6ba, #64baac, #10b3cf, #c8f8f6);
   background-size: 1000%;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: Custom 2s ease infinite alternate-reverse;
}
.navigation_bar{
    background-color: #001033;
}
.bg_custom_animate{
    background: linear-gradient(270deg, #94d6ba, #64baac, #10b3cf, #c8f8f6);
    background-size: 1000%;
    animation: Custom 2s ease infinite alternate-reverse;
}
@keyframes Custom {
   0% {
       background-position: 0% 50%;
    }
   50% {
       background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
